/******************************************************
General section 
******************************************************/

body {
    max-width: 800px;
    text-align: left;
    margin: auto;
    font-size: 18px;
    color: #526D82;
    position: relative;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #DDE6ED;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 8px;
}

header a {
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 18px;
}

header button {
    background-color: #FFA41B;
    color: white;
    border-color: #FFA41B;
    max-width: 150px;
    padding: 8px;
}

.content {
    background-color: #FFF6F4;
    margin-bottom: 24px;
    margin-top: 24px;
}

.row {
    display: flex; 
    justify-content: center;
}

.column {
    flex: 50%;
    background-color: #DDE6ED;
}

.column img {
    width: 98%;
    margin-top: 2%;
}

.column p {
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    margin-top: 50%;
}

.get_in_touch {
    width: 300px;
    height: 40px;
    background-color: #F86F03;
    border-color: #F86F03;
    font-size: light;
    font-weight: bold;
    margin-top: 20px;
}

.get_in_touch a {
    color: white;
    font-size: x-large;
    text-decoration: none;
}

.about_img {
    width: 22%;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #DDE6ED;
}

.footer p {
    top: 50%;
}
/******************************************************
FORM section 
******************************************************/

form {
    margin-left: 50px;
}

.form_group {
    display: block;
    margin-top: 8px;
    color: #526D82;
    font-weight: 600;
    height: 32px;

}
.form_group label {
    display: inline-block;
    width: 50px;
    text-align: left;
    
}
.form_group input, .form_group select, .form_group textarea {
    background-color: #DDE6ED;
    margin-left: 12px;
    width: 400px;
}

.form_group select, input[type="radio"], label[for="communication_preference"]  {
    width: auto;
    color: #526D82;
    font-weight: 600;
}

.form_group label[for="message"] {
    margin-top: 20px;
}

.form_group textarea, input[value="Email"] {
    margin-left: 70px;
}

.submit {
    width: 100px;
    height: 40px;
    color: white;
    background-color: #525FE1;
    border-color: #525FE1;
    font-size: light;
    font-weight: bold;
    margin-left: 200px;
    margin-top: 225px;
    font-size: 18px;

}

.error {
    color: red;
}