/******************************************************
General section 
******************************************************/

body {
    max-width: 800px;
    text-align: left;
    margin: auto;
    font-size: 12px;
    color: #526D82;
}

header {
    height: 50px;
    border-bottom: 2px solid lightgrey;
}

#navbar {
    list-style-type: none;
}

#navbar .navlink {
    padding: 8px;
    border: 2px solid lightgrey;
    vertical-align: top;
    width: 150px;
    float: left;
    margin: 8px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #3B82F6;
    font-weight: bold;
}

img {
    width: 12%;
}

footer {
    width: 800px;
    height: 50px;
    position: absolute;
    bottom: 0;
    border-top: 2px solid lightgrey;
    background-color: black;
    color: white;
    font-size: 10px;
    text-align: right;
}

#footer_text {
    margin: 0;
    margin-right: 8px;
    position: relative;
    top: 50%;
}
/******************************************************
FORM section 
******************************************************/

form {
    margin-left: 50px;
}

.form_group {
    display: block;
    margin-top: 8px;
}
.form_group label {
    display: inline-block;
    width: 50px;
    text-align: left;
}
.form_group input, .form_group select, .form_group textarea {
    background-color: #DDE6ED;
    margin-left: 12px;
    width: 400px;
}

.form_group select, input[type="radio"], label[for="communication_preference"]  {
    width: auto;
}

#form_response_msg {
    margin-left: 0px;
    width: 475px;
}

.form_submit_btn {
    width: 100px;
    height: 40px;
    color: white;
    background-color: #3B82F6;
    font-size: light;
    font-weight: bold;
    border-radius: 15%;
    margin-left: 200px;
    margin-top: 20px;
}